.ielts-listening-test-container {
    width: 100%;
    height: 100vh;
    overflow: visible;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.ielts-listening-site-header {
    width: 100%;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.ielts-listening-page-content.question-only {
    grid-template-columns: 100%;
}

.ielts-listening-page-content {
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 10px auto;
    grid-template-rows: auto 1fr;
}


.ielts-listening-bottom-panel {
    position: relative;
    padding: 5px 10px;
    /* background-color: white; */
    background-color: blue;
}

.ielts-listening-bottom-panel {
    background-color: white;
}